CHUMMER_REGISTRY_CONTROL_API_KEY=
CHUMMER_REGISTRY_HOST_PORT=18093
CHUMMER_REGISTRY_UID=1657
CHUMMER_REGISTRY_GID=1657
CHUMMER_REGISTRY_MEMORY_LIMIT=512m
CHUMMER_REGISTRY_CPUS=0.50
CHUMMER_BUILD_CONCURRENCY=1
